h1 {
    color: #1F3A93;
    text-align: center;
    font-family: verdana;
    font-size: 250%;
}

#book_list, .mainArea {
    color: #4B77BE;
    font-family: verdana;
    line-height: 180%;
}

#btnPost, #btnPut, #btnDelete, #btnBack {
    background-color: #1F3A93;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btnSave, #btnUpdate {
    background-color: #4B77BE;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 12px;
}


